@model List<About>
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


<section class="about spad">
    <div class="container">
        <div class="about__text">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h2>Hakkımda</h2>
                        <div class="breadcrumb__option">
                            <a href="/Default/Index">Anasayfa</a>
                            <span>Hakkımda</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__pic__item__large">
                        <img src="~/blog/img/about/about-1.jpg" alt="">
                    </div>
                    <div class="about__pic">
                        <div class="about__pic__item">
                            <img src="~/blog/img/about/about-2.jpg" alt="">
                        </div>
                        <div class="about__pic__item">
                            <img src="~/blog/img/about/about-3.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__right__text">
                        <h2>@Model[0].Title</h2>
                        <p>
                            @Model[0].Description
                        </p>                      
                       
                        <div class="about__right__text__social">
                            @await Component.InvokeAsync("_SocialMediaPartial")

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
