
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="./index.html"><img src="~/blog/img/humberger/humberger-logo.png" alt=""></a>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="/Default/Index/">Anasayfa</a></li>
            <li><a href="/Default/MainCourses/">Ana Yemekler</a></li>
            <li><a href="/Default/Desserts/">Tatlılar</a></li>
            <li><a href="/Default/Breakfast/">Kahvaltılar</a></li>
            <li><a href="/Default/Beverages/">İçecekler</a></li>
            <li><a href="/Default/Salads/">Salatalar</a></li>
            <li><a href="/Default/About/">Hakkımda</a></li>
            <li><a href="/Contact/Index/">İLETİŞİM</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="humberger__menu__about">
        <div class="humberger__menu__title sidebar__item__title">
            <h6>Hakkımda</h6>
        </div>
        <img src="~/blog/img/humberger/humberger-about.jpg" alt="">
        <h6>Herkese Merhaba!Ben Halit Berk İskitoğlu.</h6>
        <p>
            Bilgisayar mühendisiyim ve özellikle ASP.NET teknolojileri üzerine çalışıyorum. Teknolojiyi etkili çözümler üretmek için kullanıyorum.
        </p>
        <div class="humberger__menu__about__social sidebar__item__follow__links">
            @await Component.InvokeAsync("_SocialMediaPartial")
        </div>
    </div>
    
</div>
