<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu">
            <li class="nav-label first">Ana Menü</li>
            <li>
                <a href="#">
                    <i class="fa fa-home"></i><span class="nav-text">Anasayfa</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Category/CategoryList">
                    <i class="fa fa-list-alt"></i><span class="nav-text">Kategoriler</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Article/ArticleList">
                    <i class="fa fa-newspaper-o"></i><span class="nav-text">Makaleler</span>
                </a>
            </li>
            <li>
                <a href="/Admin/SocialMedia/SocialMediaList">
                    <i class="fa fa-share-alt"></i><span class="nav-text">Sosyal Medya</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Message/Inbox">
                    <i class="fa fa-envelope"></i><span class="nav-text">Gelen Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Comment/MyCommentList">
                    <i class="fa fa-comments"></i><span class="nav-text">Yorumlar</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Profile/UserEdit">
                    <i class="fa fa-cog"></i><span class="nav-text">Ayarlar</span>
                </a>
            </li>
        </ul>
    </div>
</div>
