@model UserEditViewModel
@{
    ViewData["Title"] = "UserEdit";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="col-lg-12">

<form method="post">
    <label>Adınız</label>
    <input type="text" asp-for="Name" class="form-control"/>
    <br />
    <label>Soyadınız</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <br />
    <label>Kullanıcı Adınız</label>
    <input type="text" asp-for="Username" class="form-control" />
    <br />
    <label>Email Adresiniz</label>
    <input type="email" asp-for="Email" class="form-control" />
    <br />
    <label>Şifreniz</label>
    <input type="password" asp-for="Password" class="form-control" />
    <br />
    <button class="btn btn-primary">Bilgileri Güncelle</button>
</form>
</div>


