<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-1 col-6 order-md-1 order-1">
                    <div class="header__humberger">
                        <i class="fa fa-bars humberger__open"></i>
                    </div>
                </div>
                <div class="col-lg-8 col-md-10 order-md-2 order-3">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/Default/Index/">Anasayfa</a></li>
                            <li><a href="/Default/MainCourses/">Ana Yemekler</a></li>
                            <li><a href="/Default/Desserts/">Tatlılar</a></li>
                            <li><a href="/Default/Breakfast/">Kahvaltılar</a></li>
                            <li><a href="/Default/Beverages/">İçecekler</a></li>
                            <li><a href="/Default/Salads/">Salatalar</a></li>
                            <li><a href="/Default/About/">Hakkımda</a></li>
                            <li><a href="/Contact/Index/">İLETİŞİM</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2 col-md-1 col-6 order-md-3 order-2">
                    <div class="header__search">
                        <i class="fa fa-search search-switch"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__btn">
                    <a href="/Writer/Register/Index/" class="primary-btn">Kayıt Ol</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="header__logo">
                    <a href="/Writer/Login/Index/"><img src="~/blog/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__social">
                    @await Component.InvokeAsync("_SocialMediaPartial")
                </div>
            </div>
        </div>
    </div>
</header>